* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.carousel-control-next-icon {
    background-image: url('../img/right-arrow.png');
}

.carousel-control-prev-icon {
  background-image: url('../img/left-arrow.png');
}

section.header div.hero {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  text-align: center;
  color: #fff;
  padding: 10%;
}

section.header div.hero p {
  font-size: 110%;
}

section.body {
  margin-top: 2rem;
}

.my-works {
  margin-top: 5rem;
}


.my-works img {
  width: 500px;

}

a.phone-call,
a.email-send {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
  background-size: 1000px;
  text-decoration: none;
}

a.phone-call {
  background-position: -172px -42px;
}

a.phone-call:hover {
  background-position: -172px -303px;
}

a.email-send {
  background-position: -310px -42px;
}

a.email-send:hover {
  background-position: -310px -303px;
}